.flows_raspberrypi.json.backup
[{"id":"691cf91a.7a66b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"aba94ba2.553168","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fac9fcda.c60ce","type":"mqtt-broker","z":"","name":"","broker":"192.168.137.161","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b9d4953b.49d0d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"568ecb0c.a69964","type":"ui_tab","z":"","name":"Room","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f69d5433.b1c768","type":"ui_group","z":"","name":"Environment and Soil Moisture","tab":"568ecb0c.a69964","order":1,"disp":false,"width":"6","collapse":false},{"id":"9d5ce717.e64748","type":"ui_group","z":"","name":"LED","tab":"568ecb0c.a69964","order":2,"disp":false,"width":"8","collapse":false},{"id":"802aae35.cc398","type":"firebase config","z":"","firebaseurl":"growthchamber-5a6ae","loginType":"none"},{"id":"35cbbdd6.343df2","type":"ui_group","z":"","name":"Status of Sensors","tab":"568ecb0c.a69964","order":5,"disp":true,"width":"6","collapse":false},{"id":"cd3ddd9e.21d74","type":"ui_group","z":"","name":"Monitoring Unit Connection Status","tab":"568ecb0c.a69964","order":4,"disp":true,"width":"6","collapse":false},{"id":"f730808e.6af34","type":"ui_group","z":"","name":"LED Status","tab":"568ecb0c.a69964","order":3,"disp":true,"width":6,"collapse":false},{"id":"ebeb6d9a.5f3dc","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"","longitude":""},{"id":"a19f50d2.9f05e","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"","longitude":""},{"id":"6c115b79.532d04","type":"mongodb3","z":"","uri":"mongodb+srv://adminMilk:milkyway@cluster0-tkjtk.mongodb.net/GC_Project?retryWrites=true&w=majority","name":"Cluster 0","options":"{ \"useNewUrlParser\": true}","parallelism":"-1"},{"id":"b907a6c9.68a568","type":"mongodb","z":"","hostname":"cluster0-tkjtk.mongodb.net/test?retryWrites=true&w=majority","port":"27017","db":"","name":""},{"id":"3898c3de.cb3d4c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"GC_Project","name":""},{"id":"340669d2.9f08c6","type":"ui_group","z":"","name":"SensorData","tab":"403a445f.0a684c","order":2,"disp":true,"width":"6","collapse":false},{"id":"5b194b5a.995e74","type":"sqlitedb","z":"","db":"C:\\Users\\Enerzon Automations\\EnerzonDB.db","mode":"RWC"},{"id":"403a445f.0a684c","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"167fab9a.f0fe74","type":"ui_group","z":"","name":"Data Export","tab":"902511f3.cfeb7","disp":true,"width":"12"},{"id":"902511f3.cfeb7","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"f358734b.924cf","type":"ui_group","z":"","name":"Download","tab":"568ecb0c.a69964","disp":true,"width":"6","collapse":false},{"id":"65478fc5.318f","type":"mqtt in","z":"691cf91a.7a66b8","name":"Temperature","topic":"room/temperature","qos":"2","datatype":"json","broker":"fac9fcda.c60ce","x":130,"y":240,"wires":[["3736097c.42f596","ddf1805e.18f2e"]]},{"id":"19a396fa.903fd9","type":"mqtt in","z":"691cf91a.7a66b8","name":"Humidity","topic":"room/humidity","qos":"2","datatype":"json","broker":"fac9fcda.c60ce","x":120,"y":320,"wires":[["fcb1daf2.285d38","3c9b94ec.31973c"]]},{"id":"fcb1daf2.285d38","type":"ui_gauge","z":"691cf91a.7a66b8","name":"Humidity","group":"f69d5433.b1c768","order":1,"width":6,"height":5,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":320,"wires":[]},{"id":"d964a988.9ab6d8","type":"ui_chart","z":"691cf91a.7a66b8","name":"Light Intensity","group":"9d5ce717.e64748","order":1,"width":8,"height":4,"label":"Light Intensity (lx)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"400","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":380,"y":400,"wires":[[]]},{"id":"ec803764.526eb8","type":"mqtt in","z":"691cf91a.7a66b8","name":"Light Intensity","topic":"room/light_intensity","qos":"2","datatype":"json","broker":"fac9fcda.c60ce","x":130,"y":400,"wires":[["d964a988.9ab6d8","5ba988c9.f89488"]]},{"id":"92ba6859.0b26f8","type":"rpi-gpio out","z":"691cf91a.7a66b8","name":"LED1 (R)","pin":"12","set":false,"level":"0","freq":"100","out":"pwm","x":340,"y":760,"wires":[]},{"id":"4fc46e60.7fc88","type":"mqtt in","z":"691cf91a.7a66b8","name":"Soi Moisture (V1)","topic":"room/soil","qos":"2","datatype":"json","broker":"fac9fcda.c60ce","x":120,"y":480,"wires":[["1d52c286.b84fbd","b554b3a5.17e36"]]},{"id":"1d52c286.b84fbd","type":"ui_gauge","z":"691cf91a.7a66b8","name":"Soi Moisture (V1.2)","group":"f69d5433.b1c768","order":3,"width":6,"height":5,"gtype":"gage","title":"Soil Moisture (V.1)","label":"units","format":"{{value}}","min":0,"max":"4100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":480,"wires":[]},{"id":"3c5f691e.9f9d46","type":"inject","z":"691cf91a.7a66b8","name":"Time","topic":"time","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"10","x":150,"y":160,"wires":[["89398e64.97d9b","b3f1b554.8b15f8"]]},{"id":"f3b8a22e.ea8f4","type":"join","z":"691cf91a.7a66b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"topic","joinerType":"str","accumulate":false,"timeout":"2200","count":"2200","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":180,"wires":[["6064c967.13e4c8","513ae3c8.799cac","a8debf7.b57744"]]},{"id":"8405b5f.ba0c548","type":"trigger","z":"691cf91a.7a66b8","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":430,"y":520,"wires":[["f3b8a22e.ea8f4"]]},{"id":"4ddc84ec.eab40c","type":"trigger","z":"691cf91a.7a66b8","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":410,"y":440,"wires":[["f3b8a22e.ea8f4"]]},{"id":"87d61117.b81c6","type":"trigger","z":"691cf91a.7a66b8","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":410,"y":360,"wires":[["f3b8a22e.ea8f4"]]},{"id":"bc16c072.ed1de","type":"trigger","z":"691cf91a.7a66b8","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":410,"y":280,"wires":[["f3b8a22e.ea8f4"]]},{"id":"3736097c.42f596","type":"function","z":"691cf91a.7a66b8","name":"","func":"msg.topic = \"temperature\"\nmsg.payload = msg.payload\nflow.set('temperature',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["bc16c072.ed1de"]]},{"id":"3c9b94ec.31973c","type":"function","z":"691cf91a.7a66b8","name":"","func":"msg.topic = \"humidity\"\nmsg.payload = msg.payload\nflow.set('humidity',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["87d61117.b81c6"]]},{"id":"5ba988c9.f89488","type":"function","z":"691cf91a.7a66b8","name":"","func":"msg.topic = \"light_intensity\"\nmsg.payload = msg.payload\nflow.set('light',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":440,"wires":[["4ddc84ec.eab40c"]]},{"id":"b554b3a5.17e36","type":"function","z":"691cf91a.7a66b8","name":"","func":"msg.topic = \"soil_moisture\"\nmsg.payload = msg.payload\nflow.set('soil_moisture',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["8405b5f.ba0c548"]]},{"id":"89398e64.97d9b","type":"moment","z":"691cf91a.7a66b8","name":"Formatting Date","topic":"date","input":"","inputType":"msg","inTz":"Asia/Bangkok","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD-MM-YYYY","locale":"en_GB","output":"","outputType":"msg","outTz":"Asia/Bangkok","x":380,"y":160,"wires":[["f3b8a22e.ea8f4"]]},{"id":"b3f1b554.8b15f8","type":"moment","z":"691cf91a.7a66b8","name":"Formatting Time","topic":"time","input":"","inputType":"msg","inTz":"Asia/Bangkok","adjAmount":0,"adjType":"days","adjDir":"add","format":"h:mm","locale":"en_GB","output":"","outputType":"msg","outTz":"Asia/Bangkok","x":380,"y":200,"wires":[["f3b8a22e.ea8f4"]]},{"id":"f085c406.907ab8","type":"rpi-gpio out","z":"691cf91a.7a66b8","name":"LED1 (G)","pin":"16","set":false,"level":"0","freq":"100","out":"pwm","x":340,"y":820,"wires":[]},{"id":"fdf2d73e.20bc48","type":"rpi-gpio out","z":"691cf91a.7a66b8","name":"LED1 (B)","pin":"18","set":false,"level":"0","freq":"100","out":"pwm","x":340,"y":900,"wires":[]},{"id":"1147211d.0240ff","type":"ui_slider","z":"691cf91a.7a66b8","name":"LED1R Controller","label":"RED","tooltip":"","group":"9d5ce717.e64748","order":2,"width":7,"height":1,"passthru":true,"outs":"all","topic":"led1r","min":0,"max":"100","step":1,"x":130,"y":760,"wires":[["92ba6859.0b26f8","75b44742.ddaed8","3f78caad.50dac6"]]},{"id":"c6a3282.27c02d8","type":"ui_slider","z":"691cf91a.7a66b8","name":"LED1B Controller","label":"BLUE","tooltip":"","group":"9d5ce717.e64748","order":4,"width":7,"height":1,"passthru":true,"outs":"all","topic":"led1b","min":0,"max":"100","step":1,"x":130,"y":880,"wires":[["fdf2d73e.20bc48","b96ca558.d39cb8","c4fd561e.b7c038"]]},{"id":"ebac7a8b.690d38","type":"ui_slider","z":"691cf91a.7a66b8","name":"LED1G Controller","label":"GREEN","tooltip":"","group":"9d5ce717.e64748","order":6,"width":7,"height":1,"passthru":true,"outs":"all","topic":"led1g","min":0,"max":"100","step":1,"x":130,"y":820,"wires":[["f085c406.907ab8","f2050759.b81808","561faf4d.e975e"]]},{"id":"2baa910.316677","type":"ui_text","z":"691cf91a.7a66b8","group":"f730808e.6af34","order":1,"width":0,"height":0,"name":"Status of LED","label":"","format":"","layout":"row-left","x":980,"y":640,"wires":[]},{"id":"75b44742.ddaed8","type":"function","z":"691cf91a.7a66b8","name":"","func":"var led_level = msg.payload[0]\nflow.set('led1r',led_level);\n","outputs":1,"noerr":0,"x":470,"y":720,"wires":[[]]},{"id":"501e9746.379198","type":"function","z":"691cf91a.7a66b8","name":"","func":"var LED_Status = flow.get('LED_Status')\nmsg.topic = \"LED_status\"\nif(LED_Status == \"ON\")\n{\n    msg.payload = \"ON\"\n}\nelse\n{\n    msg.payload = \"OFF\"\n}\nreturn msg","outputs":1,"noerr":0,"x":610,"y":640,"wires":[["527f63e8.95fcdc"]]},{"id":"c72a7d2e.b5c21","type":"function","z":"691cf91a.7a66b8","name":"","func":"var ledr1Status = flow.get('led1r');\nvar ledg1Status = flow.get('led1g');\nvar ledb1Status = flow.get('led1b');\nvar LED_Status = flow.get('LED_Status')\n\nif (ledr1Status === 0 && ledr1Status === 0 && ledr1Status === 0)\n{\n    flow.set(\"LED_Status\",\"Off\")\n}\nelse\n{\n    flow.set(\"LED_Status\",\"On\")\n}\n","outputs":1,"noerr":0,"x":130,"y":980,"wires":[[]]},{"id":"f2050759.b81808","type":"function","z":"691cf91a.7a66b8","name":"","func":"var led_level = msg.payload[0]\nflow.set('led1g',led_level);","outputs":1,"noerr":0,"x":470,"y":800,"wires":[[]]},{"id":"b96ca558.d39cb8","type":"function","z":"691cf91a.7a66b8","name":"","func":"var led_level = msg.payload[0]\nflow.set('led1b',led_level);","outputs":1,"noerr":0,"x":470,"y":880,"wires":[[]]},{"id":"e57ad274.142d7","type":"debug","z":"691cf91a.7a66b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":580,"wires":[]},{"id":"3f78caad.50dac6","type":"ui_text","z":"691cf91a.7a66b8","group":"9d5ce717.e64748","order":3,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":680,"wires":[]},{"id":"561faf4d.e975e","type":"ui_text","z":"691cf91a.7a66b8","group":"9d5ce717.e64748","order":5,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":760,"wires":[]},{"id":"c4fd561e.b7c038","type":"ui_text","z":"691cf91a.7a66b8","group":"9d5ce717.e64748","order":7,"width":1,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":840,"wires":[]},{"id":"ddf1805e.18f2e","type":"ui_gauge","z":"691cf91a.7a66b8","name":"Temperature","group":"f69d5433.b1c768","order":2,"width":6,"height":6,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":240,"wires":[]},{"id":"e1fac87e.80b0b8","type":"ui_text","z":"691cf91a.7a66b8","group":"35cbbdd6.343df2","order":1,"width":6,"height":1,"name":"","label":"","format":"All Sensors work as well.","layout":"row-left","x":910,"y":460,"wires":[]},{"id":"527f63e8.95fcdc","type":"trigger","z":"691cf91a.7a66b8","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"-10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":770,"y":640,"wires":[["2baa910.316677","e57ad274.142d7","f3b8a22e.ea8f4"]]},{"id":"b9e93927.bf83c8","type":"function","z":"691cf91a.7a66b8","name":"","func":"var tem = flow.get('temperature')\nvar humi = flow.get('humidity')\nvar light = flow.get('light')\nvar soil = flow.get('soil_moisture')\nvar sensor_status = flow.get('sensor_status')\nvar message = []\n\nif(tem === 'nan' || humi === 'nan')\n{\n    message = message.append('Failed to read from DHT sensor.')\n}\nelse if(light === 'nan')\n{\n    message = message.append('Failed to read from TSL2561 sensor.')\n}\nelse if(soil === 'nan')\n{\n    message = message.append('Failed to read fom Soil Moisture Sensor.')\n}\n\nif (message.lenght() == 0)\n{\n    message = 'All Sensors work as well.'\n}\n\nflow.set('sensor_status',message)\n","outputs":1,"noerr":0,"x":290,"y":580,"wires":[[]]},{"id":"a0d4b69e.138ff8","type":"function","z":"691cf91a.7a66b8","name":"","func":"var sensor = flow.get(\"sensor_status\")\n\nmsg.topic = \"sensor_status\"\nmsg.payload = sensor\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":460,"wires":[["e1fac87e.80b0b8","ad2997fa.09d9a8"]]},{"id":"ab988aef.ef04a8","type":"ui_text","z":"691cf91a.7a66b8","group":"cd3ddd9e.21d74","order":1,"width":6,"height":1,"name":"","label":"","format":"Connected","layout":"row-left","x":910,"y":520,"wires":[]},{"id":"ad2997fa.09d9a8","type":"trigger","z":"691cf91a.7a66b8","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":770,"y":420,"wires":[["f3b8a22e.ea8f4"]]},{"id":"a8debf7.b57744","type":"mongodb out","z":"691cf91a.7a66b8","mongodb":"3898c3de.cb3d4c","name":"Environment_collection","collection":"environment","payonly":true,"upsert":false,"multi":false,"operation":"store","x":830,"y":120,"wires":[]},{"id":"513ae3c8.799cac","type":"mongodb3 in","z":"691cf91a.7a66b8","service":"_ext_","configNode":"6c115b79.532d04","name":"MongoAtlas envi","collection":"environment","operation":"insert","x":800,"y":180,"wires":[["59e18853.b34508"]]},{"id":"59e18853.b34508","type":"debug","z":"691cf91a.7a66b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":180,"wires":[]},{"id":"6064c967.13e4c8","type":"debug","z":"691cf91a.7a66b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":80,"wires":[]},{"id":"ef02c036.114be","type":"ui_text_input","z":"691cf91a.7a66b8","name":"","label":"","tooltip":"","group":"f69d5433.b1c768","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"led1r","x":140,"y":720,"wires":[["92ba6859.0b26f8"]]},{"id":"9308c5a3.006298","type":"ui_text_input","z":"691cf91a.7a66b8","name":"","label":"","tooltip":"","group":"f69d5433.b1c768","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"led1g","x":140,"y":780,"wires":[["f085c406.907ab8"]]},{"id":"250e9cb2.e43f64","type":"ui_text_input","z":"691cf91a.7a66b8","name":"","label":"","tooltip":"","group":"f69d5433.b1c768","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"led1b","x":160,"y":840,"wires":[["fdf2d73e.20bc48"]]},{"id":"396ca655.ecfc8a","type":"ui_button","z":"691cf91a.7a66b8","name":"Download Button","group":"f358734b.924cf","order":6,"width":"3","height":"1","passthru":false,"label":".csv","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"download_envi","x":930,"y":320,"wires":[["e3138d36.62525"]]},{"id":"e3138d36.62525","type":"mongodb3 in","z":"691cf91a.7a66b8","service":"_ext_","configNode":"6c115b79.532d04","name":"MongoAtlas envi","collection":"environment","operation":"find.toArray","x":1140,"y":320,"wires":[["c6ebfa0c.0ef528"]]},{"id":"ab9253eb.2c014","type":"debug","z":"691cf91a.7a66b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1360,"y":340,"wires":[]},{"id":"c2c50a6c.819f28","type":"function","z":"691cf91a.7a66b8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":520,"wires":[[]]},{"id":"c6ebfa0c.0ef528","type":"json-2-csv","z":"691cf91a.7a66b8","name":"","x":1140,"y":380,"wires":[["ab9253eb.2c014","de7032ac.8d746"]]},{"id":"de7032ac.8d746","type":"http request","z":"691cf91a.7a66b8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.137.161:1880/report.csv","tls":"","persist":false,"proxy":"","authType":"","x":1350,"y":380,"wires":[[]]},{"id":"98d0fb61.375fa8","type":"http in","z":"691cf91a.7a66b8","name":"","url":"http://192.168.137.161:1880/report.csv","method":"get","upload":false,"swaggerDoc":"","x":1100,"y":280,"wires":[[]]}]